<% provide(:title, t(".about")) %>
<h1><%= t ".about" %></h1>
<p>
  <%= t ".para_1" %> <em><%= link_to t(".para_2"), Settings.railstutorial %></em>,
  <%= t ".para_3" %>
  <%= link_to t(".para_4"), Settings.learn_enough %>
  <%= t ".para_5" %>
  <%= link_to t(".para_6"), Settings.book %>
  <%= t ".para_7" %>
  <%= link_to t(".para_8"), Settings.screen %>
  <%= t ".para_9" %>
  <%= link_to t(".para_10"), Settings.rails %>
  <%= t ".para_11" %>
</p>
