<% provide :title, t(".title_1") %>
<h1><%= t ".title_1" %></h1>
<p>
  <%= t ".para_1" %>
  <%= link_to t(".para_2"), Settings.help %>.
  <%= t ".para_3" %>
  <em><%= link_to t(".para_4"), Settings.rails_book %></em>
  <%= t ".para_5" %></a>.
</p>
