<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".rails_tutorial"), Settings.rails_tutorial %>
    <%= t ".by" %> <%= link_to t(".Michael_Hartl"), Settings.michael %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), Settings.news %></li>
    </ul>
  </nav>
</footer>
